In [1]:
import pandas as pd
import numpy as np

In [2]:
df_rates = pd.read_csv('rates_data.csv') 
df_rates

,Symbol,Timestamp,liquidityRate_avg,variableBorrowRate_avg,utilizationRate_avg,stableBorrowRate_avg
0,DAI,2021-06-26 12:00:00,0.030049,0.044036,0.741302,0.118596
1,DAI,2021-06-26 18:00:00,0.022864,0.033511,0.740801,0.118584
2,DAI,2021-06-27 00:00:00,0.026457,0.038576,0.743568,0.118653
3,DAI,2021-06-27 06:00:00,0.023205,0.033815,0.745587,0.118703
4,DAI,2021-06-27 12:00:00,0.026452,0.038146,0.747147,0.118741
...,...,...,...,...,...,...
304069,FRAX,2024-09-05 18:00:00,0.000000,0.000000,1.821209,0.000000
304070,FRAX,2024-09-06 00:00:00,0.000000,0.000000,1.821209,0.000000
304071,FRAX,2024-09-06 06:00:00,0.000000,0.000000,1.821209,0.000000
304072,FRAX,2024-09-06 12:00:00,0.000000,0.000000,1.821209,0.000000
304073,FRAX,2024-09-06 18:00:00,0.000000,0.000000,1.821209,0.000000

In [8]:
# Display the unique symbols
unique_symbols = df_rates['Symbol'].unique()
print(f"Unique symbols in the 'symbols' column: {unique_symbols}")

Unique symbols in the 'symbols' column: ['DAI' 'TUSD' 'USDC' 'USDT' 'SUSD' 'BAT' 'LINK' 'KNC' 'MKR' 'MANA' 'ZRX'
 'SNX' 'WBTC' 'BUSD' 'ENJ' 'REN' 'YFI' 'AAVE' 'UNI' 'AUSDT' 'AWBTC'
 'AWETH' 'AYFI' 'AZRX' 'AUNI' 'AAAVE' 'ABAT' 'ABUSD' 'ADAI' 'AENJ' 'AKNC'
 'ALINK' 'AMANA' 'AMKR' 'AREN' 'ASNX' 'ASUSD' 'ATUSD' 'AUSDC' 'ACRV'
 'AGUSD' 'ABAL' 'AXSUSHI' 'ARENFIL' 'ARAI' 'AAMPL' 'AUSDP' 'ADPI' 'AFRAX'
 'AFEI' 'ASTETH' 'AENS' 'AUST' 'ACVX' 'A1INCH' 'ALUSD' 'AAMMWETH'
 'AAMMDAI' 'AAMMUSDC' 'AAMMUSDT' 'AAMMWBTC' 'WETH' 'LUSD' 'CRV' 'BAL'
 'ENS' '1INCH' 'FRAX']

In [15]:
# Count the number of unique symbols in the 'symbols' column
unique_symbols_count = df_rates['Symbol'].nunique()

# Print the count
print(unique_symbols_count)

68

In [3]:
# Count the number of zeros in each column
zero_counts = (df_rates == 0).sum()

# Display the counts
print(zero_counts)

Symbol                        0
Timestamp                     0
liquidityRate_avg         43289
variableBorrowRate_avg    44462
utilizationRate_avg          94
stableBorrowRate_avg      82155
dtype: int64

In [4]:
# Remove rows with any zeros in the DataFrame
df_no_zeros = df_rates[(df_rates != 0).all(axis=1)]

# Check the number of unique symbols in each column
unique_symbols = df_no_zeros.nunique()

# Display the counts

print(unique_symbols)

Symbol                       50
Timestamp                  4688
liquidityRate_avg         60354
variableBorrowRate_avg    60344
utilizationRate_avg       59672
stableBorrowRate_avg      59182
dtype: int64

In [19]:
rates_symbols = df_no_zeros['Symbol'].unique()
rates_symbols = [x.lower() for x in rates_symbols]

In [20]:
import glob
import os 

path = 'prices/*.csv'
csv_files = glob.glob(path)
df_price = pd.concat([
    pd.read_csv(file).assign(symbol=os.path.splitext(os.path.basename(file))[0])
    for file in csv_files
], ignore_index=True)
print(df_price.columns)
print(len(df_price))

Index(['Unnamed: 0', 'timestamp', 'open', 'high', 'low', 'close', 'volume',
       'close_time', 'quote_asset_volume', 'number_of_trades',
       'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore',
       'symbol'],
      dtype='object')
1187631

In [21]:
prices_symbols = df_price['symbol'].unique()
prices_symbols = [x.replace('USDT','') for x in prices_symbols]
prices_symbols = [x.lower() for x in prices_symbols]
len(prices_symbols)

38

In [22]:
common_symbols = list(set(prices_symbols).intersection(rates_symbols))
print(len(common_symbols))
print(common_symbols)

17
['bal', 'yfi', 'enj', 'dai', 'ren', 'mkr', 'knc', 'tusd', 'usdc', 'zrx', 'wbtc', 'bat', 'link', 'uni', 'crv', 'busd', 'mana']